<config>
	<apiEndpoint>https://serviciosdevakademiacode.gnoss.com/api</apiEndpoint>
	<communityShortName>ak-ur_mpnl-6</communityShortName>
	<ontologyName>sdgur25pelicula</ontologyName>
	<developerEmail>admin@admin.es</developerEmail>
	<token>
		<tokenKey>rRuQX5CY3UjqFWjXvFXsT4ihVBnsLyQ+</tokenKey>
		<tokenSecret>dRyQX5CY3UjIlUUyJ/6tS767EWjJSYMM</tokenSecret>
	</token>
	<consumer>
		<consumerKey>3jmNX5CY3UglSXxIB9PjSrXJFAPTamkc</consumerKey>
		<consumerSecret>CzuNX5CY3Uh5YOEwSMiCRZCXUGM/HY2K</consumerSecret>
	</consumer>
	<log>
		<logPath>/log</logPath>
		<logFileName>trace.log</logFileName>
		<logLevel>DEBUG</logLevel>
	</log>
</config>